{% extends "users/layout.html" %}


{% block content %}

{% if message %}
<p>{{message}} </p>
{% endif %}

    <h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %} {# For Django, include this line to prevent CSRF attacks #}
        
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
{% endblock  %}